<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neosavings">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeoSavings">
        <activity
            android:name=".ui.Adapters.RegistroInfo"
            android:exported="false"
            android:label="@string/String_EditarRegistro"/>
        <activity
            android:name=".ui.Formularios.Formulario_Cuentas"
            android:exported="false"
            android:label="@string/String_CrearCuenta"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ui.Formularios.Formulario_Registros"
            android:exported="false"
            android:label="@string/String_CrearFormulario" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NeoSavings.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>