<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neosavings">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.RECEIVE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:forceDarkAllowed="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeoSavings">
        <activity
            android:name=".ui.Ayuda.Ayuda_Home"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="Ayuda Home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings" />
        <activity
            android:name=".ui.Formularios.Formulario_Objetivos"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:forceDarkAllowed="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Objetivos.ObjetivoInfo"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:forceDarkAllowed="true"
            android:label="Informacion Objetivo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Formularios.Formulario_NuevoPagoDeuda"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="Crear Nuevo Pago Deuda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Deudas.DeudasInfo"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="Informacion Deuda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Formularios.Formulario_Deudas"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".ui.Reciver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.PagosProgramados.PagosProgramadosInfo"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="Informacion Pago Programado"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings" />
        <activity
            android:name=".ui.Formularios.Formulario_PagosProgramados"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="Editar Pago Programado"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings" />
        <activity
            android:name=".ui.Presupuestos.PresupuestoInfo"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="Informacion Presupuesto"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings" />
        <activity
            android:name=".ui.Formularios.Formulario_Presupuestos"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="Editar Presupuesto"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings" />
        <activity
            android:name=".ImageZoom"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings" />
        <activity
            android:name=".ui.Registros.RegistroInfo"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/String_EditarRegistro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings" />
        <activity
            android:name=".ui.Formularios.Formulario_Cuentas"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="@string/String_CrearCuenta"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings" />
        <activity
            android:name=".ui.Formularios.Formulario_Registros"
            android:configChanges="orientation|uiMode"
            android:exported="false"
            android:label="Crear Registro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|uiMode"
            android:exported="true"
            android:forceDarkAllowed="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.neosavings"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>