<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neosavings">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeoSavings">
        <activity
            android:name=".ui.Presupuestos.PresupuestoInfo"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="Informacion Presupuesto"
            android:theme="@style/Theme.NeoSavings"/>
        <activity
            android:name=".ui.Formularios.Formulario_Presupuestos"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:label="Editar Presupuesto"
            android:theme="@style/Theme.NeoSavings"/>
        <activity
            android:name=".ImageZoom"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings"/>
        <activity
            android:name=".ui.Registros.RegistroInfo"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/String_EditarRegistro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings"/>
        <activity
            android:name=".ui.Formularios.Formulario_Cuentas"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/String_CrearCuenta"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings"/>
        <activity
            android:name=".ui.Formularios.Formulario_Registros"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/String_CrearFormulario"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NeoSavings.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.neosavings"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>